<form [formGroup]="resetPasswordForm" (ngSubmit)="submit()" class="wrap">
  <div class="header">
    <mat-icon>verified_user</mat-icon>
  </div>
  <div class="input-holder">
    <mat-form-field>
      <input matInput formControlName="newPassword" type="password" placeholder="New password">
    </mat-form-field>
    <mat-error class="error-message" *ngIf="resetPasswordForm.get('newPassword').invalid && submitted">
      <div *ngIf="resetPasswordForm.get('newPassword').hasError('required')">New password field is required</div>
      <div *ngIf="resetPasswordForm.get('newPassword').hasError('pattern')">Password has to be stronger</div>
    </mat-error>
  </div>
  <div class="input-holder">
    <mat-form-field>
      <input matInput formControlName="repeatPassword" type="password" placeholder="Repeat password">
    </mat-form-field>
    <mat-error class="error-message" *ngIf="(resetPasswordForm.get('repeatPassword').invalid || resetPasswordForm.hasError('passwordMatch')) && submitted">
      <div *ngIf="resetPasswordForm.get('repeatPassword').hasError('required')">Repeat password field is required</div>
      <div *ngIf="resetPasswordForm.hasError('passwordMatch') && !resetPasswordForm.get('repeatPassword').hasError('required')">Passwords should match</div>
    </mat-error>
  </div>
  <div class="btn-holder">
    <button mat-raised-button type="submit" class="btn">Submit</button>
  </div>
</form>