<app-header [title]="title" [productsInCart]="productsInCart"></app-header>
<div class="container">
  <p>
    store works!
    If user not logged id - redirect to login page. (use Auth Guard)
  </p>
  <div class="product-list">
    <div class="product-item" *ngFor="let product of productsInStore; let i = index;">
      <span class="product-name">{{ product?.name }}</span>
      <span class="product-price">{{ product?.price }}</span>
      <span class="btn-holder">
        <button mat-raised-button class="btn" color="primary" type="button" (click)="addToCart(product)">Add to cart</button>
        <!-- <button mat-raised-button class="btn" type="button" *ngIf="isInCart(product)" routerLink="/cart" routerLinkActive="active">In cart</button> -->
        <!-- <button mat-raised-button class="btn" color="primary" type="button" *ngIf="!isInCart(product)" (click)="addToCart(product)">Add to cart</button>
        <button mat-raised-button class="btn" type="button" *ngIf="isInCart(product)" routerLink="/cart" routerLinkActive="active">In cart</button> -->
      </span>
    </div>
  </div>
</div>
