:host{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.wrap{
    min-width: 300px;
    box-shadow: 0 0 5px 0 rgba(#000, .5);
    padding: 15px;
}
.header{
    text-align: center;
    color: #816398;
}
mat-form-field{
    width: 100%;
}
.btn-holder{
    text-align: center;
}
.btn{
    min-width: 150px;
}
.input-holder{
    position: relative;
    margin-bottom: 50px;
}
.error-message{
    font-size: 12px;
    position: absolute;
    top: 100%;
    left: 0;
}
a{
    color: #816398;
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 15px;
    display: inline-block;
    &:hover{
        text-decoration: none;
    }
}