<div class="container">
  <span class="page-name">{{ title }}</span>
  <div class="actions">
    <span class="header-cart">
      <a routerLink="/cart" routerLinkActive="active">
        <mat-icon>shopping_cart</mat-icon>
        <span class="products-amount" *ngIf="productsInCart?.length">{{ productsInCart?.length }}</span>
      </a>
    </span>
    <span>{{ user?.email }}</span>
    <button mat-raised-button type="button" *ngIf="isLoggedIn" (click)="clearLocalStorage()">Log out</button>
  </div>
</div>