:host{
    display: block;
    border-bottom: 1px solid #ccc;
}
.container{
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.actions{
    display: flex;
    align-items: center;
    > *{
        cursor: pointer;
        margin-left: 15px;
    }
}
.header-cart{
    position: relative;
    a{
        &:active{
            color: #816398;
        }
    }
}
.products-amount{
    font-size: 12px;
    color: #fff;
    position: absolute;
    top: -6px;
    left: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 14px;
    padding: 3px;
    background-color: #816398;
    border-radius: 50%;
}