.container{
    padding: 15px;
    max-width: 400px;
}
.product-item{
    display: flex;
    align-items: center;
    padding: 5px;
    &:nth-child(odd){
        background-color: rgba(#816398, .1);
    }
    &.total-item{
        justify-content: space-between;
        .product-price{
            width: auto;
        }
    }
}
.product-name{
    width: 30%;
}
.product-price{
    color: #816398;
    width: 30%;
}
.btn-holder{
    text-align: right;
    flex-grow: 1;
    .remove-icon{
        min-width: 105px;
        cursor: pointer;
        color: #ff0000;
    }
}
.inner-container{
    .btn{
        min-width: 105px;
        margin: 15px auto;
        display: block;
    }
}