<app-header [title]="title" [productsInCart]="productsInCart"></app-header>
<div class="container">
  <div class="inner-container">
    <mat-card *ngIf="!productsInCart?.length">Nothing here yet</mat-card>
    <button mat-raised-button color="primary" type="button" *ngIf="!productsInCart?.length" routerLink="/store" routerLinkActive="active" class="btn">Go to store</button>
    <button mat-raised-button color="warn" type="button" *ngIf="productsInCart?.length" (click)="clearCart()" class="btn">Clear cart</button>
  </div>
  <div class="product-list">
    <div class="product-item" *ngFor="let product of productsInCart; let i = index;">
      <span class="product-name">{{ product?.name }}</span>
      <span class="product-price">{{ product?.price }}</span>
      <span class="btn-holder">
        <mat-icon class="remove-icon" (click)="removeFromCart(product, i)">remove_circle</mat-icon>
      </span>
    </div>
    <div class="product-item total-item" *ngIf="productsInCart.length > 0">
      <strong class="product-name">Total price</strong>
      <strong class="product-price">{{ totalPrice }}</strong>
    </div>
  </div>
</div>