<form [formGroup]="resetPasswordForm" (ngSubmit)="submit()" class="wrap">
  <div class="header">
    <mat-icon>verified_user</mat-icon>
  </div>
  <div class="input-holder">
    <input formControlName="newPassword" type="password" placeholder="New password" [class.error]="resetPasswordForm.controls['newPassword'].invalid && resetPasswordForm.controls['newPassword'].touched">
    <mat-error class="error-message" *ngIf="resetPasswordForm.controls['newPassword'].invalid && resetPasswordForm.controls['newPassword'].touched">
      <div *ngIf="resetPasswordForm.get('newPassword').hasError('required')">New password field is required</div>
      <div *ngIf="resetPasswordForm.get('newPassword').hasError('pattern')">Password has to be stronger</div>
    </mat-error>
  </div>
  <div class="input-holder">
    <input formControlName="repeatPassword" type="password" placeholder="Repeat password" [class.error]="resetPasswordForm.controls['repeatPassword'].invalid && resetPasswordForm.controls['repeatPassword'].touched">
    <mat-error class="error-message" *ngIf="resetPasswordForm.controls['repeatPassword'].invalid && resetPasswordForm.controls['repeatPassword'].touched">
      <div *ngIf="resetPasswordForm.get('repeatPassword').hasError('required')">New password field is required</div>
      <div *ngIf="resetPasswordForm.get('repeatPassword').hasError('pattern')">Passwords should match</div>
    </mat-error>
  </div>
  <div class="btn-holder">
    <button mat-raised-button type="submit" [disabled]="!resetPasswordForm.valid" class="btn">Submit</button>
  </div>
</form>