<app-header [title]="title" [productsInCart]="productsInCart"></app-header>
<div class="container">
  <div class="inner-container">
    <mat-card *ngIf="!productsInCart?.length">Nothing here yet</mat-card>
    <button mat-raised-button color="primary" type="button" *ngIf="!productsInCart?.length" routerLink="/store" routerLinkActive="active" class="btn">Go to store</button>
    <button mat-raised-button color="warn" type="button" *ngIf="productsInCart?.length" (click)="clearCart()" class="btn">Clear cart</button>
  </div>
  <div class="product-list">
    <app-cart-item [product]="product" *ngFor="let product of productsInCart"></app-cart-item>
    <div class="total-item" *ngIf="productsInCart.length > 0">
      <strong class="product-name">Total price</strong>
      <strong class="product-price">{{ totalPrice }}</strong>
    </div>
  </div>
</div>