.container{
    padding: 15px;
    max-width: 400px;
}
app-cart-item{
    display: block;
    &:nth-child(odd){
        background-color: rgba(#816398, .1);
    }
}
.total-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.inner-container{
    .btn{
        min-width: 105px;
        margin: 15px auto;
        display: block;
    }
}